.website-container {
    margin-left: 0;
    margin-right: 0;
    padding: 0; 
}

.home-img {
    width: 1210px;
    height: 625px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    background-color: #B22222;
}

.home-heading {
    color: white; 
}

.nav-button {
    background-color: #B22222;
    color: white;
    outline: #B22222;
}
.nav-btn {
    padding: 0;
}

.nav-style {
    padding-top: 10px; 
    padding-left: 50px; 
    width: 100%
}

.side-background {
    background-color: #B22222;
}

.headshot {
    width: 200px;
    height: 300px;
    padding-top: 10px;
}

.side-text {
    text-align: center;
    color: white;
}

.page-header {
    height: 100px; 
    background-color: #B22222;
}

.page-text {
    color: white;
    padding-top: 40px;
    padding-left: 40px;
}

.footer-row {
    padding-top: 10px;
}